label {
  display: block;
	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.375em;
}
ul,ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
article ul {
	list-style-type: disc;
	margin-bottom: 0.75em;
	padding-left: 1.5em;
}
article ol {
	margin-bottom: 1.5em;
}
.chapter li {
	margin: 0.75em 0;
}
.chapter ul+.highlight {
	margin-top: 1.5em;
}
dl {
	margin-bottom: 0.75em;
}
dl dt {
	font-weight: bold;
	margin-top: 0.75em;
}
dl dd {
	margin: 0;
}
table {
	-webkit-font-feature-settings: "kern", "liga", "tnum";
	-moz-font-feature-settings: "kern", "liga", "tnum";
	-ms-font-feature-settings: "kern", "liga", "tnum";
	font-feature-settings: "kern", "liga", "tnum";
	border-collapse: collapse;
	margin: 0.75em 0;
	table-layout: fixed;
	width: 100%;
}
thead {
	background-color: #F5F5F5;
}
th {
  vertical-align: bottom;
  border-bottom: 3px solid #DDD;
	font-weight: 600;
	text-align: left;
}
td {
	border-bottom: 1px solid #DDD;
}
th,td {
	padding: 0.75em;
}
tr,td,th {
	vertical-align: middle;
}
body {
	-webkit-font-feature-settings: "kern", "liga", "pnum";
	-moz-font-feature-settings: "kern", "liga", "pnum";
	-ms-font-feature-settings: "kern", "liga", "pnum";
	font-feature-settings: "kern", "liga", "pnum";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
	font-size: 1rem;
	line-height: 1.5
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
	font-size: 1rem;
	line-height: 1.2;
	margin: 0 0 0.75em;
	font-weight: bold;
  color: #333;
}
h1 code,h2 code,h3 code,h4 code,h5 code,h6 code {
	text-transform: none;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.66667em;
}
h3 {
	font-size: 1.38889em;
}
h4 {
	font-size: 1.15741em;
}
h5 {
	font-size: 0.96451em;
}
p {
	margin: 1.5em 0 0.75em;
	line-height: 1.5em;
}
a {
	color: #337AB7;
	text-decoration: none;
}
a:active,a:focus,a:hover {
  color: #23527C;
  text-decoration: underline;
}
a:active {
	outline:none
}
a.ext {
  border-style: solid;
  border-color: #DDD;
  border-width: 1px;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
}
hr {
	border-bottom:1px solid #DDD;
	border-left:none;
	border-right:none;
	border-top:none;
	margin:1.5em 0
}
img,picture {
	margin:0;
	max-width:100%
}
em {
	font-style:italic
}
strong {
	font-weight:bold
}
html {
	box-sizing:border-box
}
*,*::after,*::before {
	box-sizing:inherit
}
@media screen and (min-width: 53.75em) {
	.container {
		display:flex
	}
}
@media screen and (min-width: 53.75em) {
	main {
		display:flex
	}
}
.container {
	margin-left:auto;
	margin-right:auto;
	padding:0 1em
}
.container::after {
	clear:both;
	content:"";
	display:table
}
.sidebar {
	padding-top: 0.75em;
	border-bottom: 1px solid #DDD;
	position: relative;
	z-index: 1;
}
@media screen and (min-width: 53.75em) {
	.sidebar {
		float: left;
		display: block;
		margin-right: 2.35765%;
		width: 22.49666%;
		border-bottom: 0;
		border-right: 1px solid #DDD;
		padding: 3em 1.618em 3em 0;
	}
	.sidebar:last-child {
		margin-right:0
	}
	.sidebar::before {
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:-100vw;
		content:"";
		display:block;
		z-index:-1
	}
}
.sidebar .select2 {
	margin-bottom:1em
}
label[for="toc-toggle"] {
	cursor:pointer;
	font-size:1.25em;
	position:relative
}
@media screen and (max-width: 53.75em) {
  label[for="toc-toggle"] {
  	color: #337AB7;
  }
  label[for="toc-toggle"]:after {
  	content:'';
  	border-color:#337AB7 transparent transparent transparent;
  	border-style:solid;
  	border-width:5px 4px 0 4px;
  	height:0;
  	margin-left:-4px;
  	margin-top:-2px;
  	position:absolute;
  	right:6px;
  	top:50%;
  	width:0
  }
}
.toc-container {
	border-top:1px solid #DDD;
	overflow:hidden;
	display:none
}
.toc-toggle:checked ~ .toc-container {
	display:block
}
@media screen and (min-width: 53.75em) {
	.toc-container {
		display:block
	}
	.toc-container[style] {
		display:block !important
	}
}
li.toc-level-0 {
  font-weight: bold;
	margin-top: 0.33em;
	margin-bottom: 0.5em;
  padding: 0.33em 0;
  display:block;
	line-height:1.25;
}
ol.toc-level-1 {
	border-left:1px solid #DDD;
	font-size:0.9rem
}
ol.toc-level-1 {
	padding-left:1.618em
}
article {
	padding:3em 0
}
@media screen and (min-width: 53.75em) {
	article {
		float:left;
		display:block;
		margin-right:2.35765%;
		width:75.14568%
	}
	article:last-child {
		margin-right:0
	}
}
article h2,article h3 {
	margin-top:1.5em
}
article hr+h2,article hr+h3 {
	margin-top:0
}
article h4 {
	margin-top:1.5em
}
@media screen and (max-width: 82em) {
	.back-to-top {
		height:1.5em;
		width:1.5em;
		overflow:hidden
	}
}
@media screen and (max-width: 71em) {
	.back-to-top {
		height:0
	}
}
code {
	background-color: #F5F5F5;
	border-radius:3px;
	font-family:Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Courier, monospace;
	font-size:0.9em;
	padding:0.2em 0.5em;
	margin:0 0.1em;
	-webkit-font-feature-settings:"kern", "tnum";
	-moz-font-feature-settings:"kern", "tnum";
	-ms-font-feature-settings:"kern", "tnum";
	font-feature-settings:"kern", "tnum"
}
a code {
	color: #DD6A58;
}
.visually-hidden {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  color: #333;
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  border-radius: 4px;
  word-break: break-all;
  word-wrap: break-word;
}
pre>code {
  padding: 0;
}
pre.terminal {
  font-size: 0.9em;
  background-color: #091D38;
  border-color: black;
  color: white;
}
