
.chapter {
    list-style: none outside none;
    padding-left: 0;
    line-height: 1.9em;
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    overflow-y: auto;
}

.page-wrapper {
  position: absolute;
  overflow-y: auto;
  left: 315px;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -o-transition: left 0.5s;
  -ms-transition: left 0.5s;
  transition: left 0.5s;
}

.section {
    list-style: none outside none;
    padding-left: 20px;
    line-height: 2.5em;
}

.section li {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875em;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  overflow-y: auto;
  padding: 10px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -o-transition: left 0.5s;
  -ms-transition: left 0.5s;
  transition: left 0.5s;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a.btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

a.ext {
  border-style: solid;
  border-color: #DDD;
  border-width: 1px;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

body {
  font-family: 'Open Serif', serif;
  line-height: 1.42857143;
}

center {
  margin-top: 15px;
  margin-bottom: 15px;
}

code {
  color: #333;
  background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

html {
  height: 100%;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  color: #333;
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  border-radius: 4px;
  word-break: break-all;
  word-wrap: break-word;
}

pre.terminal {
  background-color: #091D38;
  border-color: black;
  color: white;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

th {
  text-align: left;
  font-family: 'PT Sans', sans-serif;
}

thead:first-child > tr:first-child > th {
  border-top: 0;
}

thead > tr > th, tbody > tr > td {
  vertical-align: top;
  border-top: 1px solid #ddd;
  padding: 8px;
}

thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

ul.nav {
  font-size: 20px;
}
