doctype html
html(lang="en")
  head
    title #{title}
    link(rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' sizes='16x16 24x24 32x32 64x64 128x128 256x256 512x512')

  body.guides.index
    main.container
      article.chapter
        | !{body}
      aside.sidebar
        label(for='toc-toggle')
          | Table of Contents
          span(for='toc-toggle' class='visually-hidden') toggle
        .toc-container
          | !{toc}

  link(href='/css/qeda.min.css', rel='stylesheet')
