doctype html
html(lang="en")
  head
    title #{title}
    link(rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' sizes='16x16 24x24 32x32 64x64 128x128 256x256 512x512')

  body
    .nav-main
      .wrap
        a.nav-home(href='/')
          img.nav-logo(src='/img/logo.svg' width=60)
          | <strong>QEDA</strong> Documentation
        .nav-lists
          ul.nav-site.nav-site-internal
            li
              a(href='http://qeda.org/') Back to main site
          ul.nav-site.nav-site-external
            li
              a(href='https://github.com/qeda/doc') GitHub

    main.container
      article.chapter
        .toc-toggle#top
          a(href='#toc') Table of Contents
        .contents
          | !{body}
      aside.sidebar
        .toc-toggle#toc
          a(href='#top') Back to Top
        .toc-container
          | !{toc}


  link(href='/css/qeda.min.css', rel='stylesheet')
