doctype html
html(lang="en")
  head
    title #{title}
    link(rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' sizes='16x16 24x24 32x32 64x64 128x128 256x256 512x512')

  body
    #sidebar.sidebar
      | !{toc}
    #page-wrapper.page-wrapper
      .page
        | !{body}

  link(href='/css/qeda.min.css', rel='stylesheet')
